<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1">
    <!--<test name="TestLoginLogout"><classes><class name="TestLoginLogout"/></classes></test>-->
    <test name="TryingFindElements">
        <classes>
            <class name="TryingFindElements"/>
        </classes>
    </test>
    <!--<test name="MainPageSearchField"><classes><class name="MainPageSearchField"/></classes></test>-->
    <test name="GithubTest">
        <classes>
            <class name="GithubTestPreprodEnvironments"/>
        </classes>
    </test>
</suite>
